.darkmode {
    background-color: black;
    color: white;
}

.button-clicked {
    color: green;
}  
  
.center-div {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}